[Desktop Entry]
Comment=Launcher and package manager for RVGL
Terminal=false
Name=RVGL Launcher
Type=Application
Categories=Game;Racing;
#Path=/home/acer/Downloads/rvgl_launcher_linux
Exec=rvgl_launcher.py
Icon=rvgl
StartupWMClass=
